label
{
    display:block;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: bold;
}

sup
{
    color: red;
    font-family: 'Roboto', sans-serif;
}

.Submit
{
    background-color: #008B8B;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 20px;
    margin-top: 5px;
    height: 30px;
    color: white;



}

.email
{
width: 362px;
height: 30px;
}

input
{
    margin-bottom: 20px;
    height: 30px;
}

select
{
    margin-bottom: 10px;
    width: 362px;
    height: 30px;
}

/* Fin premier Formulaire */

.Infos
{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
}

.inline
{
    width: 110px;
     display:block;
     vertical-align: top;
     margin: 15px;
}

#Sub
{
    background-color: #DAA520;
}

form
{
width: 450px;
margin: auto;
}

fieldset
{
    margin: 1%;
}

.tel
{
    width: 20px;
}
